body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0rem 1rem;
  background-color: #1d0433;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237616DD'/%3E%3Cstop offset='1' stop-color='%231D0433'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2318E0FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2318E0FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}

button {
  background-color: #535bf2!important;
}

#newExpense {
  height: 100%;
  padding: 2rem;
  background: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
  border-radius: 8px;
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
}

.table-data {
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
  border-radius: 8px;
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
}

button {
  color: whitesmoke!important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #e9ddff;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #a18dc7;
}

.negative {
  color: rgb(207, 2, 2)!important;
}

@media (max-width: 767px) {
  #newExpense {
    margin-bottom: 3rem;
  }

  .table-data {
    table-layout: fixed;
    width: 430px;
    /* margin: 0rem 4rem; */
  }

  .row>* {
    padding: 0;
  }

  #newExpense {
    width: 430px;
    margin: auto;
    /* margin: 0rem 4rem; */
  }

  .expense-container{
    margin-bottom: 3rem;
  }

  td, tr {
    overflow: auto;
    word-wrap: break-word;
    font-size: small;
  }
}

.month-change {
  border-radius: 25px;
  border-color: white;
  background-color: #39096a!important;
}

@media (min-width: 900px) {
  #renderedData {
    width: 900px;
  }
}